@font-face {
    font-family: 'Regular';
    src: url('font/GlacialIndifference-Regular') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('font/GlacialIndifference-Bold') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,body{

    background-color: #c6c7b9;
    font-family: 'Regular', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw; /* Largeur à 100% de la fenêtre d'affichage */
    height: 100vh; /* Hauteur à 100% de la fenêtre d'affichage */
    overflow-x: hidden; /* Supprime les barres de défilement */
}


#video{
    width: 100%;
    height:100%;
    object-fit: contain;
}

#ratio{
    display: flex;
    align-items: center;
    width: 40%;
    aspect-ratio: 4/3;
}

.Btn_acc{
    height: 5vh;
}

.Acc{
    color: black;
    text-decoration: none;
}
.header{

    display: flex;
    background-color: #517a76;
    justify-content: space-between;
    align-items: center;
}


.div_Btn_mod{
    justify-content: space-around;
    display: flex;
    margin-right: 5%;
}

.Btn_mod{

    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 30px;
    background-color: #517a76;
    border-radius: 10px;
    font-size: 23px;
}

.Img_rect{border-radius: 20px;}


.logo{
    height: 10vh;
}

.logo_m{
    height: 10vh;
    left :-15%;
    position: relative;
}

.profil{
    position: relative;
    right: -15%;
    height: 8vh;
}


.menu:hover {
    border: 1px solid black; /* Bordure noire visible au survol */
    background-color: white;
}

.buttons, a{
    text-decoration: none;
    display: flex;
    background-color: #517a76;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

body {background:none transparent;
}
.center{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 80vh;
}

.center_acc{
    display: flex;
    align-items: center;
    justify-content: center ;
    justify-content: space-around;
    background-color: #c6c7b9;
    height: 80vh;
    width: 100%;

}


.Presentation{
    width: 50vh;
}
.footer{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6.5vh;
    display: flex;
    background-color: #517a76;
    justify-content: space-between;
}


ul.sans-puces {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 80%;
    list-style-type: none;
    padding-right: 5%;
    font-size: 25px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c6c7b9;
    width: 100%;
}



.Formulaire{
    display: block;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    text-align: center;
    border: 1px, solid;
    border-color: black;
    width: 280px;
    height: auto;
    border-radius: 50px;
}

input{
    font-family: 'Regular' , sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 5px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

.Formul_Inscript {
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 380px;
    height: 50px;
    margin-top: 5px;
    background-color: #517a76;
    border-radius: 10px;
}


.Btn_Form_Co{
    position: relative;
    top: -4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    margin-top: 5px;
    background-color: #517a76;
    border-radius: 10px;
    font-size: 25px;
}

.main_admin_dash{
    background-color: #c6c7b9;
    height: 80vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.Div_table_admin_web{

    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

table,th,td{
    background-color: white;
    border: 1px solid;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
}

.table_admin_web_dashboard th,.table_admin_web_Online th{
    padding: 15px;
}

.table_admin_web_Online,th,td{
    margin-left: 5vh;
}

.icon_Online{
    align-items: center;
    text-align: center
}


.Btn_hist,.Btn_Sup{
    height: 2.5vh;
    width: 5vh;
}
.Btn_Sup{
    background-color: #af4545;
}
.Btn_hist{
    background-color: #517a76;
}

.Btn_adm_consultation{
    height: 5vh;
    width: 30vh;
    border-radius: 10px;
}
.Btn_consult_modif{
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    background-color: #e9ecef;
}

.Div_table_admin_systeme{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:10%;
}

.table_admin_systeme{
    height: 80%;
    background-color: #e9ecef;
}

.Div_mod{
    padding: 20px;
    justify-content: center;

    display: flex;

}

.mod1{
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;

}